<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586039017466-26jfnvqpol3j33snabroid184r6pdtfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586039017466-26jfnvqpol3j33snabroid184r6pdtfc</string>
	<key>API_KEY</key>
	<string>AIzaSyC9JEMQLhQ4UicMo7nOPhYSJJWPSK2LGcg</string>
	<key>GCM_SENDER_ID</key>
	<string>586039017466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoFundingApp</string>
	<key>PROJECT_ID</key>
	<string>cryptofunding-55ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptofunding-55ecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586039017466:ios:7b123d649087c158b2ae43</string>
</dict>
</plist>